iframe {
    border: none;
}

#popupPanel-popup {
    right: 0 !important;
    left: auto !important;
}
#popupPanel {
    width: 250px;
    border: 1px solid #000;
    border-right: none;
    background: rgba(0,0,0,.5);
    margin: -1px 0;
}
#popupPanel .ui-btn {
    margin-left: 10px;
    margin-right:10px;
}
#popupPanel .ui-intput-text {
    width: 200px;
    margin-left: 10px;
    margin-right:10px;
}

#map-container {
    z-index: 2;
    width: 500px;
    height: 500px;
}
