#inventory {
	width: 25%;
	height: 100%;
	float: right;
	background: white;
	overflow-y: scroll;
}

#popup {
    background:white;
    position: absolute;
    top: 25%;
    left: 25%;
	width: 50%;
	height: 50%;
	z-index: 100;
	border: 1px;
	box-shadow:rgba(0,0,0,0.5) 0px 0px 5px; 
}
#map {
	background:white;
	width: 75%;
	height: 100%;
	float: left;
}

.asset {
	text-shadow: 0px 0px;
	margin: 2%;
	padding: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #F0F0F0;
	color: black;
	#box-shadow:rgba(0,0,0,0.5) 0px 0px 5px; 
}

.Tasked {
	background: orange;
	
}

.flag { background: #700000;
color: white;
padding: 2px;
margin-botton: 4px;
	-moz-border-radius: 5px;
	border-radius: 5px;
        }
.Available { background: green }

.OOC { background: red }