<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html ng-app xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
<title>Crisis Manager</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"
	type="text/javascript">
</script>
<script src="/static/crisis.js" type="text/javascript"></script>
<link rel="stylesheet" href="/static/crisis.css">
  <meta name="HandheldFriendly" content="True" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta http-equiv="cleartype" content="on" />
    <link rel="stylesheet" href="/static/stylesheets/map.css" type="text/css"/>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0-alpha.1/jquery.mobile-1.2.0-alpha.1.min.css" type="text/css" />
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
    <link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-label/v0.2.1/leaflet.label.css' rel='stylesheet' />
    <script src="//code.jquery.com/jquery-1.11.0.min.js" type="text/javascript"></script>
    <script src="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js" type="text/javascript"></script>
    <script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
    <script src="/static/javascript/leaflet.bouncemarker.js" type="text/javascript"></script>
    <script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-label/v0.2.1/leaflet.label.js'></script>

	<!-- FONT AWESOME -->
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<link rel="stylesheet" href="/static/stylesheets/leaflet.awesome-markers.css">
	<script src="/static/javascript/leaflet.awesome-markers.js"></script>
  </head>

  <body>
  
 
    
	<div id="inventory" ng-controller="CrisisCtrl">
    
      <div id="popup">
   
   <table>
   <tr ng-repeat="(key,value) in selected.attributes">
   
    <td>{{key}} </td> <td> <input ng-model="selected.attributes[key]"></input></td>
     </tr>
     </table>
      <button ng-click="save_changes()">Save</button>
      <button ng-click="abandon_changes()">Abandon</button>
    </div>
    
<!--
	A Simple Variable: {{example}}<br></br>
	<input ng-model="someInput"></input>
	   You Typed: {{someInput}}	<br></br>
	<button ng-click="callWS();"> Call Web Service </button>
	{{result}}<br></br>
	<button ng-click="getAssets();"> Get Assets </button>
-->
   
    
	<div class='asset' ng-repeat="asset in assets">
	<div class="{{asset.attributes.Status}}" >
	<div class='asset'>
     <div class="icons">
     <div ng-repeat="(key,value) in asset.flags">
     <span class="flag" ng-if="value" >{{key}}</span>
     </div>
	<div ng-repeat="(key,value) in asset.attributes">

	 {{key}} : {{value}}

	 </div>
    
	</div>
	</div>
	 </div>


	</div>
    <div id="enquiries">

    </div>
    <div id="map" data-role="page">



      <div data-role="header" id="header", data-position='fixed' data-tap-toggle="false">

      </div>
      <div data-role="content" style="padding:0px;">
        <div id="map-container"></div>
      </div>

    </div> <!-- page -->

  </body>

</html>
